@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Nunito:wght@400;600&display=swap');
$primary: #004643;
$primary-dark: #022b29;

$secondary: #abd1c6;
$accent: #f9bc60;

$grey: #e5e5e5;

$font-white: #fffffe;
$font-dark: #001e1d;
$font-p: #abd1c6;

* {
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

$v-20: 125em; //2000px
$v-14: 87.5em; //1400px
$v-12: 75em; //1200px
$v-10: 62.5em; //1000px
$v-8: 50em; //800px
$v-7: 43.75em; //700px
$v-6: 37.5em; //600px
$v-5: 31.25em; //500px

html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media only screen and(min-width:$v-14) {
		font-size: 65%;
	}
	@media only screen and(min-width:$v-20) {
		font-size: 100%;
	}
	@media only screen and(max-width:$v-12) {
		font-size: 57.5%;
	}
	@media only screen and(max-width:$v-10) {
		font-size: 53%;
	}
	@media only screen and(max-width:$v-8) {
		font-size: 50%;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	font-size: 1.6rem;
	color: #fff;
	position: relative;
	overflow-x: hidden;
}
.heading-1 {
	font-size: 5rem;
	font-family: 'Nunito' sans-serif;
	font-weight: 600;
	line-height: 1.1;
}
.heading-2 {
	font-family: 'Nunito' sans-serif;
	font-size: 2.2rem;
	font-weight: 500;
	line-height: 1;
}
.heading-3 {
	font-size: 3rem;
	font-weight: 500;
	line-height: 1;
}
